@page "/EmployeeOverview"

<h3 class="bg-blue-600 text-3xl text-red-500">EmployeeOverview</h3>

<div class="flex flex-row ...">
    <div class="text-blue-400">01</div>
    <div class="text-red-100">02</div>
    <div>03</div>
</div>


